<template>
    <div class="container">    
        <div class="row">
            <div class="col-md-12">
                    <div class="card ">
                            <div class="card-header bg-info text-white">
                                <div class="text-monospace">My Profile</div>
                            </div>
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                            <div class="col-md-3">
                                <img :src="user.photo_url" alt="" class="rounded-circle">
                            </div>
                            <div class="col-md-9">
                                <h4 class="text-monospace">{{ user.name }}</h4>
                                 <p class="text-monospace">a <span class="font-weight-bold">Student</span></p>
                            <hr>
                            <div>
                                <fa icon="user" fixed-width /> <span class="ml-2 text-monospace">{{ user.name }}</span>
                            </div>
                             <div>
                                <fa icon="school" fixed-width /> <span class="ml-2 text-monospace">SMKN 1 Sumedang</span>
                            </div>
                            <div>
                                <fa icon="envelope" fixed-width /> <span class="ml-2 text-monospace">tubagus.gustif@gmail.com</span>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-end">
                                <a href="https://www.instagram.com/tubagusgf/" class="text-monospace mr-2" target="_blank">Instagram</a> &#8231; <a href="https://web.facebook.com/YatogamiEl/" target="_blank" class="text-monospace mr-2 ml-2">Facebook</a> &#8231; <a href="https://github.com/evans292" target="_blank" class="text-monospace mr-2 ml-2">Github</a>
                            </div>
                            </div>
                            </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    middleware: 'auth',

     computed: mapGetters({
         user: 'auth/user'
    }),
}
</script>

<style>

</style>