<template>
  <card title="Catat Presensi Anda">
       <form @submit.prevent="save">
        Tanggal : {{ currentDate }}
        <br>
        <br>
        Waktu : {{ currentTime }}
        <br>
        <br>
        <button class="btn btn-info float-right" :disabled="loading">
            Simpan Presensi
        </button>
       </form>
  </card>
</template>

<style scoped>
   
</style>

<script>
import axios from "axios";
import Swal from 'sweetalert2'

export default {
    middleware: 'auth',
    // meta: {
    //     permission: 'employee.list',
    // },

    head () {
        return { title: "Catat Presensi Anda" }
    },

    async asyncData(context) {
    
    },

    data() {
        return {
            form: {
                latitude: '',
                longitude: '',
                timezone: ''
            },
            currentDate: null,
            currentTime: null,
            loading: false
        }
    },

    methods: {
        updateDate() {
            var today = new Date();
            this.currentDate = today.getFullYear()+'-'+(today.getMonth()+1+'').padStart(2, '0')+'-'+(today.getDate()+'').padStart(2, '0');

            setTimeout(this.updateDate, 1000)
        },

        updateTime() {
            var today = new Date();
            this.currentTime = (today.getHours()+'').padStart(2, '0') + ":" + (today.getMinutes()+'').padStart(2, '0') + ":" + (today.getSeconds()+'').padStart(2, '0');
        
            setTimeout(this.updateTime, 1000-(new Date).getMilliseconds)
        },

        getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition((position) => {
                this.form.longitude = position.coords.longitude
                this.form.latitude = position.coords.latitude
            });
        } else {
            this.form.latitude = 0
            this.form.longitude = 0
        }
        },

        async save() {
        this.loading = true
        let res = (await axios.post('presence', this.form)).data
        this.loading = false
         Swal.fire({
            icon: 'success',
            title: 'Berhasil',
            text: 'Data berhasil di simpan',
            confirmButtonText: 'ok',
        })
      }
    },

    created() {
        this.getLocation()
        this.form.timezone = Intl.DateTimeFormat().resolvedOptions().timeZone

        this.updateDate()
        this.updateTime()
    }
}
</script>
