<template>
  <card title="Daftar Presensi">
      <div style="display: flex; justify-content: space-between;">
     Terdapat {{ count }} data presensi
      <router-link to="/presence/create" class="btn btn-info">
        Catat Presensi
      </router-link>
      </div>

      <div class="form-group row mt-2">
        <label for="inputPassword" class="col-sm-2 col-form-label">Filter Tahun</label>
        <div class="col-sm-10">
            <select class="custom-select my-1 mr-sm-2 custom-select-sm" id="inlineFormCustomSelectPref" v-model="filterYear">
                <option value="2021">2021</option>
                <option value="2020">2020</option>
                <option value="2019">2019</option>
            </select>
        </div>
     </div>

     <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Filter Bulan</label>
        <div class="col-sm-10">
            <select class="custom-select my-1 mr-sm-2 custom-select-sm" id="inlineFormCustomSelectPref" v-model="filterMonth">
                <option value="1">Januari</option>
                <option value="2">Februari</option>
                <option value="3">Maret</option>
                <option value="4">April</option>
                <option value="5">Mei</option>
                <option value="6">Juni</option>
                <option value="7">Juli</option>
                <option value="8">Agustus</option>
                <option value="9">September</option>
                <option value="10">Oktober</option>
                <option value="11">November</option>
                <option value="12">Desember</option>
            </select>
        </div>
     </div>

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered mt-3">
            <thead>
                <tr>
                <th scope="col">Tanggal</th>
                <th scope="col">Waktu Masuk</th>
                <th scope="col">Waktu Pulang</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="presence in presences" :key="presence.id">
                <td>{{ presence.date }}</td>
                <td>{{ presence.checkin_time }}</td>
                <td>{{ presence.checkout_time }}</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
  </card>
</template>

<style scoped>
   
</style>

<script>
import axios from "axios";
import Swal from 'sweetalert2'

export default {
    middleware: 'auth',
    // meta: {
    //     permission: 'employee.list',
    // },

    head () {
        return { title: "Daftar Presensi" }
    },
    
    async asyncData(context) {
        let res = (await axios.get('presence')).data
        let presences = res.data
        let count = res.count

        let filterYear = (new Date).getFullYear()
        let filterMonth = (new Date).getMonth()+1

        return {
            presences,
            count,
            filterYear,
            filterMonth
        }
    },

    methods: {
    async refreshData() {
            let resp = (await axios.get('presence', {
            params: {
                month: this.filterMonth,
                year: this.filterYear
                }
            })).data
            this.presences = resp.data
        },
    },
    watch: {
        filterMonth(newval) {
            this.refreshData()
        },
        filterYear(newval) {
            this.refreshData()
        }
    }
}
</script>
